@model IEnumerable<HotelesCaribe.Models.Habitacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="cuadroVisual">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Numero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdEmpresaHospedajeNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdTipoHabitacionNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpresaHospedajeNavigation.IdEmpresaHospedaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTipoHabitacionNavigation.IdTipo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdHabitacion">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdHabitacion">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdHabitacion">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>