@model HotelesCaribe.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoIdentIficacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoIdentIficacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentIficacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentIficacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distrito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCliente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
